.Menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: large;
    background-color: rgb(18 52 216 / 45%);
    padding: 16px;
    padding-left: 25px;
    width: 100%;
}

.Menu>.Nav {
    position: relative;
    margin-left: -20px;
}

.Menu>.Nav>.active {
    color: rgb(38, 13, 79);
}

.Menu>.Nav>a:hover {
    color: rgb(6, 10, 74);
    font-weight: bold;
}

.Menu>.Nav>a {
    color: rgb(9, 30, 28);
    font-size: large;
    margin-left: 30px;
}

.Menu>.Auth {
    position: relative;
}